<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232460669725-iqtdlo20163n8jh1v72msqun5j68tgte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232460669725-iqtdlo20163n8jh1v72msqun5j68tgte</string>
	<key>API_KEY</key>
	<string>AIzaSyCobd0VmOCHdvIHZ9tuNF33C8bTmCMJFTk</string>
	<key>GCM_SENDER_ID</key>
	<string>232460669725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a2aff</string>
	<key>PROJECT_ID</key>
	<string>a2a-928ce</string>
	<key>STORAGE_BUCKET</key>
	<string>a2a-928ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232460669725:ios:b34e62a23cd1e741a407f4</string>
</dict>
</plist>